{% extends 'base.html' %}

{% block main %}

  <section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
      <div class="hero-content py-5 my-3">
        <h2 class="display-1 mt-3 mb-0">Cart</h2>
        <nav class="breadcrumb">
          <a class="breadcrumb-item nav-link" href="#">Home</a>
          <a class="breadcrumb-item nav-link" href="#">Pages</a>
          <span class="breadcrumb-item active" aria-current="page">Cart</span>
        </nav>
      </div>
    </div>
  </section>

  <section id="cart" class="my-5 py-5">
    <div class="container">
      <div class="row g-md-5">
        <div class="col-md-8 pe-md-5">
          <table class="table">
            <thead>
              <tr>
               <th scope="col" class="card-title text-uppercase">Product</th>
                <th scope="col" class="card-title text-uppercase">Color</th>
                <th scope="col" class="card-title text-uppercase">Size</th>
                <th scope="col" class="card-title text-uppercase">Price</th>
                <th scope="col" class="card-title text-uppercase">Quantity</th>
                <th scope="col" class="card-title text-uppercase">Subtotal</th>
                <th scope="col" class="card-title text-uppercase"></th>
              </tr>
            </thead>
            <tbody>
            {% for cart_product in products %}
              <tr>
                <td scope="row" class="py-4">
                  <div class="cart-info d-flex flex-wrap align-items-center ">
                    <div class="col-lg-3">
                      <div class="card-image">
                        <img src="{{ cart_product.product.get_first_image }}" width="50px" alt="cloth" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="card-detail ps-3">
                        <h5 class="card-title">
                          <a href="#" class="text-decoration-none">{{ cart_product.product.title }}</a>
                        </h5>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="py-4 align-middle">
                  <div class="card-detail ps-3">
                        <h5 class="card-title">
                          {% if cart_product.color %}
                          <a href="#" class="text-decoration-none">{{ cart_product.color }}</a>
                          {% else %}
                          <a href="#" class="text-decoration-none">No</a>
                          {% endif %}
                        </h5>
                  </div>
                </td>
                <td class="py-4 align-middle">
                  <div class="card-detail ps-3">
                        <h5 class="card-title">
                          {% if cart_product.size %}
                          <a href="#" class="text-decoration-none">{{ cart_product.size }}</a>
                          {% else %}
                          <a href="#" class="text-decoration-none">No</a>
                          {% endif %}
                        </h5>
                      </div>
                </td>

                <td class="py-4 align-middle">
                  <div class="total-price">
                    <span class="secondary-font fw-medium">${{ cart_product.product.get_discount_price }}</span>
                  </div>
                </td>
                <td class="py-4 align-middle">
                  <div class="input-group product-qty align-items-center w-50">
                    <span class="input-group-btn">
                      <a href="{% url 'plus_minus' cart_product.product.pk 'delete' cart_product.color cart_product.size 1 %}" class="quantity-left-minus btn btn-light btn-number" data-type="minus">
                        <svg width="16" height="16">
                          <use xlink:href="#minus"></use>
                        </svg>
                      </a>
                    </span>
                    <input type="text" id="quantity" name="quantity"
                      class="form-control input-number text-center p-2 mx-1" value="{{ cart_product.quantity }}">
                    <span class="input-group-btn">
                      <a href="{% url 'plus_minus' cart_product.product.pk 'add' cart_product.color cart_product.size 1 %}" class="quantity-right-plus btn btn-light btn-number" data-type="plus"
                        data-field="">
                        <svg width="16" height="16">
                          <use xlink:href="#plus"></use>
                        </svg>
                      </a>
                    </span>
                  </div>
                </td>
                <td class="py-4 align-middle">
                  <div class="total-price">
                    <span class="secondary-font fw-medium">${{ cart_product.get_total_price }}</span>
                  </div>
                </td>
                <td class="py-4 align-middle">
                  <div class="cart-remove">
                    <a href="#">
                      <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <div class="cart-totals">
            <h2 class="pb-4">Cart Total</h2>
            <div class="total-price pb-4">
              <table cellspacing="0" class="table text-uppercase">
                <tbody>
                  <tr class="subtotal pt-2 pb-2 border-top border-bottom">
                    <th>Total Quantity</th>
                    <td data-title="Subtotal">
                      <span class="price-amount amount text-dark ps-5">
                        <bdi>
                          <span class="price-currency-symbol"></span>{{ cart_total_quantity }}
                        </bdi>
                      </span>
                    </td>
                  </tr>
                  <tr class="order-total pt-2 pb-2 border-bottom">
                    <th>Total Price</th>
                    <td data-title="Total">
                      <span class="price-amount amount text-dark ps-5">
                        <bdi>
                          <span class="price-currency-symbol">$</span>{{ cart_total_price }}</bdi>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="button-wrap row g-2">
              <div class="col-md-6"><a href="{% url 'clear' %}" class="btn btn-dark btn-lg rounded-1 fs-6 p-3 w-100">Clear Cart</a>
              </div>
              <div class="col-md-6"><button class="btn btn-dark btn-lg rounded-1 fs-6 p-3 w-100">Continue To
                  Shop</button></div>
              <div class="col-md-12"><a href="{% url 'checkout' %}"
                  class="btn btn-primary p-3 text-uppercase rounded-1 w-100">Proceed to checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'pets/components/_register.html' %}

  {% include 'pets/components/_service.html' %}

{% endblock main %}