{% extends 'base.html' %}

{% block main %}
  {% include 'pets/components/index/_banner.html' %}

  {% include 'pets/components/index/_categories.html' %}

  {% include 'pets/components/index/_tags.html' %}

  {% include 'pets/components/index/_banner2.html' %}

  {% include 'pets/components/index/_testimonial.html' %}

  {% include 'pets/components/index/_bestselling.html' %}

  {% include 'pets/components/_register.html' %}

  {% include 'pets/components/_latest_blog.html' %}

  {% include 'pets/components/_service.html' %}

{% endblock main %}