{% load pets_tags %}
<aside class="col-md-3 mt-5">
    <div class="sidebar">
        <div class="widget-menu">
            <div class="widget-search-bar">
                <div class="search-bar border rounded-2 border-dark-subtle pe-3">
                    <form id="search-form" class="text-center d-flex align-items-center" action="" method="">
                        <input type="text" class="form-control border-0 bg-transparent"
                               placeholder="Search for products"/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
                        </svg>
                    </form>
                </div>
            </div>
        </div>
        <div class="widget-product-categories pt-5">
            <h4 class="widget-title">Categories</h4>
            <ul class="product-categories sidebar-list list-unstyled">
                {% get_categories as categories %}
                <li class="cat-item">
                    <a href="{% url 'shop' %}">All</a>
                </li>
                {% for category in categories %}
                <li class="cat-item">
                    <a href="?{% query_transform request 'category' category.id %}" class="nav-link">{{ category.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget-product-tags pt-3">
            <h4 class="widget-title">Tags</h4>
            <ul class="product-tags sidebar-list list-unstyled">
            {% get_tags as tags %}
                {% for tag in tags %}
                <li class="tags-item">
                    <a href="?{% query_transform request 'tag' tag.id %}" class="nav-link">{{ tag.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget-product-brands pt-3">
            <h4 class="widget-title">Brands</h4>
            <ul class="product-tags sidebar-list list-unstyled">
                {% get_brands as brands %}
                {% for brand in brands %}
                <li class="tags-item">
                    <a href="?{% query_transform request 'brand' brand.id %}" class="nav-link">{{ brand.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="widget-price-filter pt-3">
            <h4 class="widget-titlewidget-title">Filter By Price</h4>
            <ul class="product-tags sidebar-list list-unstyled">
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' '0_10' %}" class="nav-link">Less than $10</a>
                </li>
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' '10_20' %}" class="nav-link">$10- $20</a>
                </li>
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' '20_30' %}" class="nav-link">$20- $30</a>
                </li>
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' '30_40' %}" class="nav-link">$30- $40</a>
                </li>
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' '40_50' %}" class="nav-link">$40- $50</a>
                </li>
                <li class="tags-item">
                    <a href="?{% query_transform request 'price' 'more_50' %}" class="nav-link">More than $50</a>
                </li>
            </ul>
        </div>
    </div>
</aside>